<ion-view view-title="{{vm.data.title}}" hide-back-button="true">
	<ion-nav-buttons side="left">
		<button class="button button-icon icon ion-ios-arrow-back" ng-click="vm.goBack()"></button>
	</ion-nav-buttons>
	<ion-content class="has-footer" >
		<div ng-if="vm.data.field == 'file'">
			<ion-list ng-if="vm.data.data">
				<ion-item ng-repeat="list in vm.data.data" ng-click="vm.downloadFile(list.relativePath, list.fileName)">
					{{list.fileName}}
				</ion-item>
			</ion-list>
			<span ng-if="!vm.data.data">
				<div class="list-default">暂无内容</div>
			</span>

		</div>
		<div ng-if="vm.data.field == 'address'">
			<!--<div class="list-default">暂无内容</div>-->
			<ion-list class="mb10 c4A f16 ">
				<ion-item class="subscribe item-borderless">
					<div class="row">
						<div class="col col-25 titleMeet-25">会议室</div>
						<div class="col col-75 ar">{{vm.data.data.boardroomName}}</div>
					</div>
				</ion-item>
			</ion-list>
			<ion-list class="mb10 c4A f16 ">
				<ion-item class="subscribe item-borderless">
					<div class="row">
						<div class="col col-25 titleMeet-25">楼层</div>
						<div class="col col-75 ar">{{vm.data.data.floor}}</div>
					</div>
				</ion-item>
			</ion-list>
			<ion-list class="mb10 c4A f16 ">
				<ion-item class="subscribe item-borderless">
					<div class="row">
						<div class="col col-25 titleMeet-25">房间</div>
						<div class="col col-75 ar">{{vm.data.data.room}}</div>
					</div>
				</ion-item>
			</ion-list>
			<ion-list class="mb10 c4A f16 ">
				<ion-item class="subscribe item-borderless">
					<div class="row">
						<div class="col col-25 titleMeet-25">地址</div>
						<div class="col col-75 ar">{{vm.data.data.address}}</div>
					</div>
				</ion-item>
			</ion-list>

		</div>
		<div ng-if="vm.data.field == 'notice'">
			<div class="list-default" ng-if="!vm.data.data">暂无内容</div>
			{{vm.data.data}}
		</div>
		<div ng-if="vm.data.field == 'members'">
			<ion-list>
				<ion-item ng-repeat="list in vm.data.data">
					{{list.realName}}
				</ion-item>
			</ion-list>
		</div>
	</ion-content>
</ion-view>
